doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="css/the.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    title Hackathon Project
  body
    nav
      .wrap
        a.logo(href="/") Hackathon Project
        ul
          li
            a.link(href="/") Home
          li
            a.link(href="/list") List
    block content
    script(type="application/javascript", src="js/the.js")